  <div class="row">
    <form class="col s12" id="add-post">
        <div class="row">
            <div class="input-field col s12">
                <input id="title" type="text">
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="contents"></textarea>
                    <label for="contents">Content</label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>

<script src="../js/addPost.js"></script>