<div class="row">
    <form class="col s12" id="edit-post">
        <div class="row">
            <div class="input-field col s12">
                <h5>Title</h5>
                <textarea id="title">{{title}}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <h5>Content</h5>
                    <textarea id="contents">{{contents}}</textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>

<script src="../js/editPost.js"></script>