{{#each posts as |post| }}
<div class="row m4 post">
  <div class="col m5">
    <h4>
      <a href="/post/{{id}}">{{title}}</a>
    </h4>
    <p>Posted on {{format_date createdAt}}</p>
  </div>
</div>
{{/each}}
